<footer class="otherfooter">
    <div class="container-fluid">
      <div class="maxw">
      <div class="row footer-top">
        
            <div class="col-md-3 col-sm-6 col-xs-12 foothead">
                <h1>For Company</h1>
                <ul class="footer-li">
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                <a href="#">Terms & Conditions</a>
                </li>
                </ul>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-xs-12 foothead">
                <h1>For Customer</h1>
                <ul class="footer-li">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div> -->
            <div class="col-md-3 col-sm-6 col-xs-12 foothead">
                <h1>For Restaurant</h1>
                <ul class="footer-li">
                    <li><a href="#">Restaurant login</a></li>
                    <li><a href="#">Registration</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 foothead">
                <h1>Followers</h1>
                <ul class="footer-li">
                    <li><a href="#" target="_blank" class="foot-facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href="#" target="_blank" class="foot-twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="#" target="_blank" class="foot-linkedin"><i class="fa fa-linkedin"></i>Linked in</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 foothead">
                <h1>Contact</h1>
                <ul class="footer-li">
                    <li>Email & Skype: <a href="#" class="foot-facebook">food_delivery@gmail.com</a></li>
                </ul>
            </div>
        </div>
</div>
</div>
<div class="col-xs-12 no-padding home-top text-center " style="padding-top:30px; padding-bottom:25px">
        <p class="copyright "> &copy; Copyrights
            <a href="#">innovious-websolutions</a>.
            All Rights Reserved .
        </p>
    </div>
</footer>

