<section>
<div class="header">
<div class="container-fluid">
  <div class="maxw">
    <div class="row">
      <div class="col-md-3 col-sm-3"><div class="logo2"><a href="#"><img src="assets/images/logo.png"></a></div></div>
      <div class="col-md-9 col-sm-9">
        <div class="button-ed">
          <span>
        <button type="button" class="btn btn-primary btn-lg headerlist2">Sign Up</button>
          </span>
        <span>
          <button type="button" (click)="gotoSignIn()" class="btn btn-secondary btn-lg headerlist2">Sign In</button>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<div class="clr"></div>