<section class="my-tab-menu">
<div class="container-fluid">
  <div class="maxw">
    <div class="row">
      <div class="col-md-4">
        <div class="cuisinefil">
          <div class="res_cuisinefil_head">Categories</div>
          <ul class="cuisinefil_list">
          <li><a class="sideAllCuisine active"><span class="pull-left pul-right">All</span></a></li>
          </ul>
      </div>
      </div>
      <div class="col-md-8">
        <div class="fos_menu_item">
          <div class="searchMenudet fos_hide_part">
              <input type="search" class="searchInput" placeholder="I'm looking for...">
              <a class="searchMenuFormClick" href=""></a>
          </div>
          <div class="food-item-div">
          <div class="sw-outer-wrap">
          </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
</section>
