<section class="info">
  <div class="container-fluid">
    <div class="maxw">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="rest_about">
              <h3>About Restaurant</h3>
            </div>
        </div>
        </div>
        <div class="col-md-12">
          <h3>Get Directions</h3>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.8704055469348!2d88.46263911520077!3d22.62131408515766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89fe42ba734b5%3A0x49099362e41b132!2sAstra+Towers%2C+Action+Area+IIC%2C+Newtown%2C+New+Town%2C+West+Bengal+700135!5e0!3m2!1sen!2sin!4v1545993310970" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12">
          <h3>Opening Hours</h3>
          <div class="row">
          <div class="panel-body">
            <div class="info_days">
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Monday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 5:00 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Tuesday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 3:30 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                  </div>
                  <div class="clr"></div>
                </div>
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Wednesday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 4:45 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Thursday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 7:30 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Friday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 3:30 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Saturday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 8:45 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="col-md-12 days_cont">
                    <div class="pull-left margin-b-5 pul-right">Sunday</div>
                    <div class="pull-right pul-left">
                            <p>10:00 AM - 12:00 PM</p>
                            <p>10:00 AM - 12:00 PM</p>
                      </div>
                      <div class="clr"></div>
                </div>
            </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>