<section class="order-details">
<div class="container-fluid">
  <div class="maxw">
        <div class="filter-wrapper-outer">
            <div class="row">
            <div class="col-md-4 col-sm-4">
                
                <label for="type_offers" class="filter-wrapper">
                        <mat-checkbox ></mat-checkbox>
                    <!-- <input type="checkbox" value="offers" id="type_offers" name="resTypes" class="resTypes hide"> -->
                    <img alt="offers" src="assets/images/offers-image.png">
                    <span class="filter-wrapper-mask">
                         <span class="filter-wrapper-head">Offers Near You</span>
                         <span class="filter-wrapper-cont">0 Restaurants</span>
                     </span>
                </label>
               
            </div>

            <div class="col-md-4 col-sm-4">
                <label for="type_delivery" class="filter-wrapper">
                    <!-- <input type="checkbox" value="delivery" id="type_delivery" name="resTypes" class="resTypes hide"> -->
                    <img alt="Delivery" src="assets/images/delivery-image.png">
                    <span class="filter-wrapper-mask">
                 <span class="filter-wrapper-head">Delivery Restaurants</span>
                 <span class="filter-wrapper-cont">1 Restaurants</span>
                 </span>
                </label>
            </div>
            <div class="col-md-4 col-sm-4">
                <label for="type_collection" class="filter-wrapper">
                    <!-- <input type="checkbox" value="pickup" id="type_collection" name="resTypes" class="resTypes hide"> -->
                    <img alt="Collection" src="assets/images/pickup-image.png">
                    <span class="filter-wrapper-mask">
                 <span class="filter-wrapper-head">Collection Restaurants</span>
                 <span class="filter-wrapper-cont">1 Restaurants</span>
                 </span>
                </label>
            </div>
        </div>
        <div class="order-body-sec">
        <div class="row">
            <div class="col-md-3">
             <div class="cuisinefil-in-new">
                <div class="cuisinefil_head">FILTER RESULTS</div>
                <div class="filter-contents">
                <div class="cuisinefil_subhead">Cuisine(s)</div>
                <ul class="cuisinefil_list">
                <li>
                <div class="country-cont">
                <span >Indian</span>
                <span class="count">1</span>
            </div>
                </li>
                </ul>
            </div>
            </div>
            </div>
            <div class="col-md-9">
                    <div class="order-right">
                <div class="row">
                    <div class="col-md-4">
                        <div class="left-img-wrap">
                         <div class="res-img-box">
                        <img src="http://3.16.13.235/uploads/storeLogos/8061397451544627107.png"
                         onerror="this.src='http://3.16.13.235/webroot/images/dummy.png'" width="70" height="70">
                        </div>
                        </div>
                        <div class="firstheadrestname-new">RR Restaurant</div>
                        <div class="firstheadercuis-new">Indian</div>
                    </div>
                    <div class="col-md-5">
                        <div class="table-det">
                            <div class="restaurant-block__status-container">
                                    <div class="restaurant-block__status-open">
                                        <span class="clock-new">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        Delivery in 45 </div>
                                </div>
                                <div class="min-orde-ntr">
                                        <div class="restaurant-new-it">
                                            <span class="bike-color">
                                                <i class="fa fa-motorcycle"></i>
                                                Min. order € 10.00 </span>
                                        </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                    </div>
                    <div class="col-md-3 m-t-10">
                        <span href="#" class="order-now-btn">PRE ORDER </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="clr"></div>
</section>