.maxw{
    max-width: 400px;
    margin: 0 auto
}
.forgot{
    padding-top: 20px;
    padding-bottom: 20px
}
.white{
    color:#000;
    background-color:#fff;
}

.login-text{
    padding-top: 30px;
    
}
.login-text h3{
    text-align: center;
    font-size: 15px;
}
.login-text h3 a{
    color: #ff6300;
}
.edit-btn{
    margin-top: 25px
}
.signup-footer  {
    background: #4aa3df none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    padding: 13px 25px;
}
.panel-title{
    text-align: center;

}
.panel-title{
    text-align: center;
    padding: 20px 0px;
    background: #545454;
    color: #fff;
    border-radius: 5px 5px 0 0;

}
.panel{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 2px #888888;
}
.panel-body{
    padding-bottom: 15px;
    border-radius: 0 0 5px 5px;
    padding-top: 40px
}

