<button mat-button (click)="onYesClick()">x</button>
<section class="forgot">
  <div class="container-fluid">
    <div class="maxw">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="panel panel-default" style=""> -->
            <div class="panel-body" >
              <form accept-charset="UTF-8" role="form">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="yourmail@example.com" name="email" type="text">
                </div>
                <input class="btn btn-lg btn-success btn-block signup-footer edit-btn" type="submit" value="Submit">
              </fieldset>
              </form>
              <div class="login-text">
                <h3>Back to <a href="#"> Sign In</a></h3>
              </div>
              </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  </div>
  </section>